@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 40px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.page__heading {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 70%;
  padding-left: 16%;
}

.page__heading-c {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  /* padding-left: 16%; */
}

.menu__heading {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
  margin: 50px 0;
  max-width: 380px;
}

.menu__list-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  font-size: 18px;
}

.dashboard__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.table__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 50px;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-secondary {
  background: #88cfe0;
  color: #000;
  cursor: pointer;
  border: 1px solid #88cfe0;
}

.btn-payment {
  background: #88e0b4;
  color: #000;
  cursor: pointer;
  border: 2px solid #88cfe0;
}

.btn-pay {
  padding: 10px;
  font-size: 24px;
  margin: 5px;
  border-radius: 5px;
}

.btn-list {
  background-color: pink;
  color: #000;
  cursor: pointer;
  border: 2px solid #88cfe0;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  margin: 5px;
}

.btn-danger {
  background: #f00;
  border: 1px solid #f00;
  cursor: pointer;
  color: #000;
}

.btn-edit {
  padding: 10px;
  font-size: 24px;
  margin: 5px;
  border-radius: 5px;
}

.btn-edit svg {
  font: 1.5em sans-serif;
}

.btn-delete {
  padding: 10px;
  background: #f00;
  border: 1px solid #f00;
  margin: 5px 0px;
  border-radius: 5px;
}

.btn-delete svg {
  font: 1.5em sans-serif;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.status .pending {
  background-color: orange;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.status .approved {
  background-color: green;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.status .rejected {
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

table,
th,
td {
  border-collapse: collapse;
  width: 960px;
  border: 8px solid black;
}

th {
  background-color: #009879;
  /* background-color: #88e0b4; */
  font-size: 16px;
  border: 3px solid black;
}

td {
  border: 3px solid black;
  font-size: 14px;
}

th,
td {
  text-align: center;
  padding: 4px 15px;
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.page__content {
  display: flex;
}

.table__employeeAdd {
  width: 80%;
}

/* .overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} */

.modal__container {
  max-width: 600px;
  width: 100%;
  /* position: fixed; */
  margin: 40px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  z-index: 5000;
  /* box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.75); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.payslip__container {
  max-width: 800px;
    width: 100%;
    /* position: fixed; */
    margin: 40px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    z-index: 5000;
    /* box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.75); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.payslip__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payslip__date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #eee;
}

.payslip__date h2 {
  margin-bottom: 0;
  font-size: 20px;
}

.payslip__body__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.payslip__body__left__employee {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.payslip__body__left__employee h3 {
  font-size: 16px;
  margin: 10px 0;
}

.payslip__body__right__employee h3 {
  font-size: 16px;
  margin: 10px 0;
}

.payslip__body__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left__bg {
  /* background: url("https://products.ls.graphics/paaatterns/images/015.png"); */
  /* background-image: url("https://products.ls.graphics/paaatterns/images/018-p-1080.png"); */
  background-image: url("https://res.cloudinary.com/immeraj/image/upload/v1655391387/pms/undraw_Work_time_re_hdyv_t83teb.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 500px;
}

.login__form {
  max-width: 600px;
  width: 500px;
  margin: 40px auto;
  padding: 100px;
  background-color: #fff;
  border-radius: 5px;
  /* padding: 20px; */
  z-index: 5000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.alert {
  font-size: 16px;
}

.alert--success {
  background-color: #009879;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.alert--error {
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.lau__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.la-img{
  width: 50%;
}

.la-img img {
  width: 100%;
}

.showEmp__container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.se-img{
  width: 40%;
}

.se-img img {
  width: 100%;
}

.gt__container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.page__heading-gt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding-left: 4%;
}

.page__heading-ga {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 70%;
  padding-left: 19%;
}

.page__heading-ddt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding-left: 3%;
}

.page__heading-dest {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding-left: 6%;
}

.page__heading-desa {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 70%;
  padding-left: 18%;
}

.gt-img{
  width: 40%;
}

.gt-img img {
  width: 100%;
}

.personalTable {
  width: 768px;
}

.personalTable th{
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  background-color: rgb(212, 212, 212);
}

.employee__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left__img__emp {
  width: 40%;
}

.left__img__emp img {
  width: 100%;
}

.admin__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left__img__admin {
  width: 20%;
}

.left__img__admin img {
  width: 100%;
}

.admin__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.page__content--top {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 70%; */
  /* padding-left: 4%; */
}